{
    "poudriere": {
        "portsTree": "default",
        "pkgListDir": "<Directory where lists of packages to be build reside>",
        "pkgBaseDir": "<Base directory where built packages reside>",
        "urlBase": "<Poudriere URL of package build information>"
    },
    "archs": {
        "amd64": {
            "arch": "amd64",
            "enabled": true
        },
        "i386": {
            "arch": "i386",
            "enabled": true
        },
        "armv6": {
            "arch": "armv6",
            "enabled": true,
            "native": true,
            "nativeHost": "<Hostname of ARMv6 architecture>",
            "nativeBinDir": "<Directory of remote package building>",
            "cross": true
        },
        "aarch64": {
            "arch": "aarch64",
            "enabled": true,
            "native": true,
            "nativeHost": "<Hostname of AARCH64 architecture>",
            "nativeBinDir": "<Directory of remote package building>",
            "cross": true
        },
        "mips": {
            "arch": "mips",
            "enabled": true,
            "native": true,
            "nativeHost": "<Hostname of MIPS architecture>",
            "nativeBinDir": "<Directory of remote package building>",
            "cross": true
        },
        "mips64": {
            "arch": "mips64",
            "enabled": true,
            "native": true,
            "nativeHost": "<Hostname of MIPS64 architecture>",
            "nativeBinDir": "<Directory of remote package building>",
            "cross": true
        }
    },
    "sync": {
        "user": "<Rsync user>",
        "host": "<Hostname of package server",
        "port": <Rsync port>,
        "baseDir": "<Base directory of packages on package server>"
    },
    "slack": {
        "channel": "<Channel name for Slack notification>"
    }
}
